---
import Layout from '@layouts/Layout.astro';

import { siteConfig } from '../../utils/infoSite.jsx';
import SpotifyPlayer from '../components/SpotifyPlayer.astro';

import ShareButtons from '../components/ShareButtons.jsx';

const { links } = siteConfig;
const { rostro } = siteConfig.assets;
const { name, description } = siteConfig.site;
---

<Layout title="LinkTree - ErikMann" description="LinkTree - ErikMann" type="website">
   <img src={rostro} alt="Rostro" class="w-28 h-28 rounded-xl mb-4 mt-2" />
   <h1 class="text-font_color text-2xl font-bold mb-1">{name}</h1>
   <p class="text-font_color mb-3">{description}</p>

   <div class="w-full max-w-md space-y-4 mt-5">
      {
         links.map((link) => (
            <a
               href={link.url}
               target="_blank"
               rel="noopener noreferrer"
               class="block w-full text-center bg-secondary/40 hover:bg-secondary/10 text-font_color font-semibold py-3 px-6 rounded-lg transition-all duration-200 shadow backdrop-blur-sm"
            >
               {link.name}
            </a>
         ))
      }
   </div>

   <div class="mt-10 w-full max-w-md flex justify-center items-center mx-auto">
      <SpotifyPlayer url={siteConfig.spotify.url} />
   </div>

   <ShareButtons client:load url={siteConfig.url} />
</Layout>
